<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Verify account</title>
</head>
<body>
    <h5>Hi, <b><%= data.first_name %></b> <b><%= data.last_name %></b></h5>
		<p>Reset password link : <br/>
			<a href=`<%= url%>`><%= url%></a>
		</p>
	<span>Regards</span>
	<br/>
	<span>Admin@panel</span>
</body>
</html>